@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Jersey+10+Charted&family=Jersey+25&family=Merienda:wght@300..900&family=Orbitron:wght@400..900&family=Outfit:wght@100..900&family=Permanent+Marker&family=Poetsen+One&family=Rubik+Scribble&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Jersey+10+Charted&family=Jersey+25&family=Merienda:wght@300..900&family=Orbitron:wght@400..900&family=Outfit:wght@100..900&family=Permanent+Marker&family=Poetsen+One&family=Rubik+Scribble&display=swap');

#root, html, body {
    height: 100vh;
}

body {
    margin: 0;
    background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Permanent Marker', sans-serif;
    text-align: center;
    font-size: 50px;
   
    letter-spacing: 10px;
  

}

img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: -10px;
  padding-top: -20px;
  width: 350px;
  
}