@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Jersey+10+Charted&family=Jersey+25&family=Merienda:wght@300..900&family=Orbitron:wght@400..900&family=Outfit:wght@100..900&family=Permanent+Marker&family=Poetsen+One&family=Rubik+Scribble&display=swap');


#root, html, body {
    height: 100vh;
}

body {
    margin: 0;
    background-color: whitesmoke;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Jaro', sans-serif;
    text-align: center;
    font-size: 60px;
    color: rgb(212, 163, 39);
    letter-spacing: 10px;
    text-decoration: underline;

}